<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aris.project">

    <uses-feature android:name="android.hardware.sensor.accelerometer" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="ahrpsTbBLiFhZp44FNhzRFzAnk9oIcY5tOTMB2Do" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="c69TERN5gHFqTvL6zLiWCTNzAV9tgUvw1aSWk31V" />

        <activity
            android:name=".StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
